/*
Date: March 2015
Description: Basic HTML5/CSS3 layout built for a responsive framework
Version: 1.0
Author: Eric Su
 */

body {
    background-color: white;
    color: #000305;
    font-size: 90%; /* Base font size is 14px */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: left;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 300;
    color: #2c3e50;
    text-align: center;
}

header h2 {
    margin-bottom: 25px;
}

p {
    font-size: 105%;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #2c3e50;
    text-decoration: none;
}

a:hover, a:active {
    color: #34495e; 
}

.body {
    margin: 0 auto; /* keeps it centered */
    /*  width: 70%; */
    clear: both;
}

.main-header img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.main-header nav {
    background-color: #FFC107;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    box-shadow: 0 0 5px #222;
}

.main-header nav ul {
    list-style: none; /* gets rid of bullets */
    margin: 5px auto;
    margin-right: 100px;
}

.main-header nav ul li {
    float: right;
    display: inline;
}

.main-header nav a:link, .main-header nav a:visited {
    color: #000;
    font-weight: 600;
    font-size: 150%;
    display: inline-block;
    padding: 10px 25px; /* bottom-top, left-right */
    margin: 0 auto;
    height: 100%;
}

.main-header nav a:hover, .main-header nav a:active, 
.main-header nav .active a:link, .main-header nav .active a:visited {
    /*background-color: #999;*/
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 150%;
    text-shadow: none;
    text-decoration: none;
}

.main-header nav ul li a {
}

.title {
    margin-top: -6px;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 10px #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title a h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 2px 0;
    color: #fff;
}

.navbar-form {
    width: 100%;
    margin: 4px 0;
    padding: 0;
}

.input-group {
    width: 100%;
}

.form-group {
    width: 100%;
    margin: 4px 0;
}

.input-group-btn .btn, .input-group-btn .btn:hover {
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.search .btn {
    margin: 4px 10px;
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.search .btn:hover {
    margin: 4px 10px;
    background-color: rgb(59, 59, 59);
    color: #fff;
}

.dropdown-menu {
    font-size: 100%;
    background-color: #FFC107;
}

.dropdown-menu li {
    width: 100%;
    text-align: center;
}

.dropdown-menu a:link, .dropdown-menu a:visited {
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    display: inline-block;
    padding: 10px 25px; /* bottom-top, left-right */
    margin: 0 auto;
    height: 100%;
}

.dropdown-menu a:hover, .dropdown-menu a:active, 
.dropdown-menu .active a:link, .dropdown-menu .active a:visited {
    /*background-color: #999;*/
    font-weight: 600;
    font-size: 100%;
    text-shadow: none;
    text-decoration: none;
}

.jumbotron {
    color: #fff;
    height: 70vh;
    background-image: url("http://www.olympic.org/Global/Images/Home%20page/pushblocks/2015/03/home-woo-vincent-jay.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 -10px 130px -20px #000;
    margin-top: 30px;
    margin-bottom: 0;
}

.jumbotron h1 {
    text-align: right;
    text-shadow: 0 0 15px #000;
}

.jumbotron p {
    text-align: right;
    text-shadow: 0 0 9px #000;
}

.container {
    width: 100%;
    padding: 0;
}

#athlete-facts .list-group-item:hover {
    background-color: #FFB300;
}

#athlete-facts .list-group-item {
    background-color: #FFC107;
    border-color: #FFE082;
    color: #212121;
}

#summer-list .list-group-item:hover {
    background-color: #FFB300;
}

#summer-list .list-group-item {
    background-color: #FFC107;
    border-color: #FFE082;
    color: #212121;
}

#winter-list .list-group-item:hover {
    background-color: #039BE5;
}

#winter-list .list-group-item {
    background-color: #03A9F4;
    border-color: #64B5F6;
    color: #fff;
}

.results-container {
    width: 70%;
    margin: 20px auto;
    background: rgb(237, 237, 217);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 150);
    box-shadow: 0 0px 45px -30px #000;
}

.results-container .title {
    position: relative;
    z-index: 730;
    background-color: rgb(84, 83, 80);
    box-shadow: 0 0 3px #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.results-container h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgb(84, 83, 80);
    text-align: left;
    margin-top: 6px;
    padding: 8px;
    color: #fff;
}

.results .container .card {
    background-color: rgb(208, 208, 186);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 160);
    box-shadow: 0 0 5px #888;
    padding: 10px;
}

.img-responsive:hover {
    margin: 10px 0;
    box-shadow: 0 0 0 ;
}

.img-responsive {
    margin: 10px 0;
    border-radius: 5px;
}

.search {
    height: 70px;
    padding: 14px 5px;
    margin-top: -12px;
    background-color: #FFC107;
    box-shadow: 0 1px 4px -2px #000;
}

.results {
    margin: 40px;
}

.col-md-3, .col-md-4, .col-md-9 {
    margin: 0 0 20px 0;
}

#athlete-list .list-group-item {
    background-color: #FFC107;
    border-color: #FFE082;
    color: #212121;
}

.featured_athletes_facts {
    padding: 0px;
}

.tile {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 150);
    height: 230px;
    overflow: scroll;
}

.list-group {
    margin: 0;
}

.table {
    background-color: rgb(77, 77, 77);
    color: #eee;
    margin: 0;
}

.table-hover thead tr th {
    border-color: rgb(49, 49, 49);
}

.table-hover tbody tr td {
    border-color: rgb(99, 99, 99);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFC107;
    color: black;
}

.main-content {
    width: 100%;
    line-height: 25px;
    margin: 0;
    /*  overflow: hidden; */
}

.content {
    width: 100%;
    /* float: right; */
    margin: 0;
}

.panel {
    background-color: rgb(170, 170, 150);
    padding: 0;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: 0 2px 10px #000;
}

.panel nav {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.panel nav ul {
    height: 100%;
    list-style: none; /* gets rid of bullets */
    margin: 0 auto;
}

.panel nav ul li {
    text-align: center;
    height: 100%;
    display: inline;
    margin: 0 auto;
}

.panel nav a:link, .panel nav a:visited {
    color: #000;
    font-weight: 600;
    font-size: 120%;
    display: inline-block;
    padding: 8px 25px; /* bottom-top, left-right */
}

.panel nav a:hover, .panel nav a:active, 
.panel nav .active a:link, .panel nav .active a:visited {
    /*background-color: #999;*/
    color: #fff;
    font-weight: 600;
    font-size: 120%;
    text-shadow: none;
    text-decoration: none;
}

.panel p {
    font-weight: 600;
    font-size: 120%;
    text-shadow: none;
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 120%;
    display: inline-block;
    padding: 8px 25px; /* bottom-top, left-right */

}

.panel nav ul li a {
}

#content-1 {
    background-color: rgb(208, 207, 185);
    padding: 10px 5%;
}

.see_all  {
    text-align: center;
    margin-top: 10px;
    background-color: red;
    width: 100%;
}

#content-2 {
    padding: 10px 5%;
    background-color: rgb(237, 236, 219);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 150);
    border-left-style: none;
    border-right-style: none;
    /*margin-bottom: 1px;*/
}

#content-3 {
    padding: 10px 5%;
    background-color: rgb(29, 29, 29);
    box-shadow: inset 0 0 7px -2px #000;
}

#content-4 {
    padding: 10px 5%;
    background-color: rgb(208, 207, 185);
}

.top-sidebar {
    text-align: center;
    width: 21%;
    float: left;
    background-color: #ecf0f1;
    margin: 0 2% 2% 0; /* top right bottom left (clockwise) */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
}

.middle-sidebar {
    text-align: center;
    width: 21%;
    float: left;
    background-color: #ecf0f1;
    margin: 0 2% 2% 0; /* top right bottom left (clockwise) */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%
}

.bottom-sidebar {
    text-align: center;
    width: 21%;
    float: left;
    background-color: #ecf0f1;
    margin: 0 2% 2% 0; /* top right bottom left (clockwise) */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%
}

.post-info {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    color: #999;
    font-size: 90%;
}

.main-footer {
    width: 100%;
    height: 40px;
    float: left;
    background-color: rgb(29, 29, 29);
}

.main-footer p {
    width: 92%;
    margin: 10px auto;
    color: white;
}




/* -------------------------------- 
 *
 * Primary style
 *
 * -------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* -------------------------------- 
 *
 * Modules - reusable parts of our design
 *
 * -------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* -------------------------------- 
 *
 * Main components 
 *
 * -------------------------------- */
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 2px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}
.cd-timeline-img.cd-picture {
    background: #9E9E9E;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 20px;
        height: 20px;
        left: 50%;
        margin-top: 10px;
        margin-left: -10px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
.cd-timeline-content {
    color: #eee;
    position: relative;
    margin-left: 60px;
    background: rgb(79, 79, 79);
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 2px rgba(0, 0, 0, 0.05);
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content a {
    color: #eee;
}
.cd-timeline-content a:hover {
    color: #fff;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid rgb(79, 79, 79);
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: rgb(79, 79, 79);
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: rgb(79, 79, 79);
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}
@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

img {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }
    

/* media query */
@media only screen and (min-width: 250px) and (max-width: 650px) {

    .body {
        width: 95%;
        font: 95%;
    }

    .main-header img {
        width: 100%;
    }

    .main-header nav {
        position: relative;
        box-shadow: none;
        height: 245px;
        margin: 2% 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .main-header nav ul {
        padding-left: 0;
        margin-right: 0;
    }

    .main-header nav ul li {
        width: 100%;
        text-align: center;
    }

    .main-header nav a:link, .main-header nav a:visited {
        padding: 10px 25px; /* bottom-top, left-right */
        height: 20px;
        display: block;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .jumbotron {
        box-shadow: 0px 0px 8px #3f3f3f;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .container {
        width: 100%;
    }

    .main-content {
        line-height: 28px;
        width: 100%;
        float: right;
    }

    .content {
    }

    .top-content {
        background-color: #ecf0f1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 5%;
    }

    .middle-content {
        background-color: #ecf0f1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 5%;
    }

    .bottom-content {
        background-color: #ecf0f1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 5%;
    }

    .top-sidebar, .middle-sidebar, .bottom-sidebar {
        width: 94%;
        margin: 2% 2% 2% 0; /* top right bottom left (clockwise) */
        padding: 3%;
    }

    .post-info {
        display: none;
    }

    .main-footer {
        width: 100%;
        height: 40px;
        float: left;
        background-color: #bdc3c7;
        border-radius: 5px;
        margin: 2% 0; /* top-bottom, left-right */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .main-footer p {
        width: 92%;
        margin: 10px auto;
        color: white;
    }

}

/* media query */
@media only screen and (min-width: 10px) and (max-width: 250px) {

    .body {
        width: 95%;
        font-size: 130%;
    }

    .main-header img {
        width: 100%;
    }

    .main-header nav {
        position: relative;
        box-shadow: none;
        height: 245px;
        margin: 2% 0 5% 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .main-header nav ul {
        padding-left: 0;
        margin-right: 0;
    }

    .main-header nav ul li {
        width: 100%;
        text-align: center;
    }

    .main-header nav a:link, .main-header nav a:visited {
        padding: 10px 25px; /* bottom-top, left-right */
        height: 20px;
        line-height: 1;
        display: block;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .jumbotron {
        box-shadow: 0px 0px 8px #3f3f3f;
        border-radius: 5px;
        margin-bottom: 5%;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .container {
        width: 100%;
    }

    .main-content {
        line-height: 28px;
    }

    .content {
        width: 100%;
        float: right;
    }

    .top-content {
        background-color: #ecf0f1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 1% 5%;
        margin-bottom: 5%;
    }

    .middle-content {
        background-color: #ecf0f1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 1% 5%;
        margin-bottom: 5%;
    }


    .bottom-content {
        background-color: #ecf0f1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 1% 5%;
        margin-bottom: 5%;
    }

    .top-sidebar, .middle-sidebar, .bottom-sidebar {
        width: 94%;
        margin: 0 0 5% 0; /* top right bottom left (clockwise) */
        padding: 3%;
    }

    .post-info {
        display: none;
    }

    .main-footer {
        width: 100%;
        height: 40px;
        float: left;
        background-color: #bdc3c7;
        margin: 0 0 2% 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .main-footer p {
        width: 92%;
        line-height: 1;
        /*    margin: 10px auto; */
        color: white;
    }

}
