{% extends "base.html" %}
{% block content %}

<article class="content" id="content-1">
	<content>
		<div class="results-container">
			<div class="container-fluid">
				<div class="row">
					<div class="">
						<a href="http://docs.olympicsapi.apiary.io/" style="margin: 15px;">
							APIARY
							<img class="img" src="{{ url_for('static', filename='../static/img/logos/')}}apiary.png" alt="Team Apiary API" style="width: 48px">
						</a>

						<a href="https://github.com/Sabriel567/cs373-idb/">
							TEAM REPO
							<img class="img" src="{{ url_for('static', filename='../static/img/logos/')}}github.png" alt="Team Github Repo"  style="width: 50px">
						</a>
						<a href="/testresults/">
							TESTS
							<img class="img" src="{{ url_for('static', filename='../static/img/logos/')}}tests.png" alt="Unit tests page"  style="width: 40px">
						</a>

						<a href="/starlords/">
							STARLORDS API
							<img class="img" src="{{ url_for('static', filename='../static/img/logos/')}}starlords.png" alt="External API page" style="width: 43px">
						</a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="results-container">
			<div class="container-fluid">
			<div class="row">
				{% for member in team %}
					<div class="col-lg-4 card hovercard">
						<h3 style="text-align:center;">{{ member.name }}</h3>	
						<div class="cardheader"></div>
						<div class="avatar">
							<img class="img-circle" src="{{ url_for('static', filename='../static/img/team/')}}{{member.name|replace(" ", "_")|lower }}.jpg" alt="{{ member.name }}">
						</div>
						
						<ul class="list-group">
							<li class="list-group-item">{{ member.bio }}</li>
							<li class="list-group-item"><strong>Hobbies:</strong> {{ member.hobbies }}</li>
							<li class="list-group-item">
							<strong>Responsibilities:</strong>
							{% for resp in member.responsibilities %}
								{{ resp }}
							{% endfor %}
							</li>
							<li class="list-group-item"><strong>Commits:</strong> {{ member.commits }}</li>
							<li class="list-group-item"><strong>Unit tests:</strong> {{ member.tests }}</li>
							<li class="list-group-item"><strong>Issues:</strong> {{ member.issues }}</li>
						</ul>
					</div>
				{% endfor %}		
			</div>
				
			</div>
		</div>
<!-- 		<div class="results-container">
			<div class="title">
				<h2>The Team</h2>
			</div>
			<div class="container-fluid">
				<div class="row">
					<li class="col-xs-12 col-md-6 col-lg-6">
						<div class="card hovercard">
							<div class="cardheader">

							</div>
							<div class="avatar">
								<img alt="" src="{{ url_for('static', filename='../static/img/team/patrick_aupperle.jpg') }}">
							</div>
							<div class="info">
								<div class="title">
									<a href="#">Patrick Aupperle</a>
								</div>
								<div class="desc">
									Senior at University of Texas at Austin, seeking a B.S. in Computer Science </br>
									Hobbies: Programming, Anime, Visual Novels
									<p></p>
									Virtual Machine setup
									Backend / Flask endpoints
									<p></p>
									Commits: 15
									Issues: 2
									Unit Tests: 0
								</div>
							</div>
						</div>
					</li>
					<li class="col-xs-12 col-md-6 col-lg-6">
						<div class="card hovercard">
							<div class="cardheader">

							</div>
							<div class="avatar">
								<img alt="" src="{{ url_for('static', filename='../static/img/team/hannah_burch.jpg') }}">
							</div>
							<div class="info">
								<div class="title">
									<a href="#">Hannah Burch</a>
								</div>
								<div class="desc">
									Senior at University of Texas at Austin, seeking a B.S. in Computer Science. </br>
									<p></p>
									Hobbies: Programming, Gaming, Drinking (clear liquids most of the time)
									<p></p>
									Backend/Flask, Endpoints/Unit Testing, Flask Model Design
									Commits: 27
									Issues: 12
									Unit Tests: 16

								</div>
							</div>
						</div>
					</li>
					<li class="col-xs-12 col-md-6 col-lg-6">
						<div class="card hovercard">
							<div class="cardheader">

							</div>
							<div class="avatar">
								<img alt="" src="{{ url_for('static', filename='../static/img/team/andy_fan.jpg') }}">
							</div>
							<div class="info">
								<div class="title">
									<a href="#">Andy Fan</a>
								</div>
								<div class="desc">
									Senior at University of Texas at Austin, seeking B.S. in Computer Science
									<p></p>
									Hobbies: Digital media production, filmmaking, and pc gaming
									<p></p>
									Responsibilities:
									Frontend Design/Development 
									Flask Model Design

									<p></p>
									Commits: 75 
									Issues: 16
									Unit tests: 0
								</div>
							</div>
						</div>
					</li>
					<li class="col-xs-12 col-md-6 col-lg-6">
						<div class="card hovercard">
							<div class="cardheader">

							</div>
							<div class="avatar">
								<img alt="" src="{{ url_for('static', filename='../static/img/team/jacob_kovar.jpg') }}">
							</div>
							<div class="info">
								<div class="title">
									<a href="#">Jacob Kovar</a>
								</div>

								<div class="desc">
									Senior at University of Texas at Austin, seeking B.S. in Computer Science
									<p></p>
									Hobbies: juggling, Tae Kwon Do, and video games 
									<p>
										Backend/Flask Endpoints/Unit Testing 
										Flask Model Design
									</p>
									<p>
										Commits:                18
										Issues:                 73
										Unit tests:             27
									</p>

								</div>

							</div>
						</div>
					</li>
					<li class="col-xs-12 col-md-6 col-lg-6">
						<div class="card hovercard">
							<div class="cardheader">

							</div>
							<div class="avatar">
								<img alt="" src="{{ url_for('static', filename='../static/img/team/eric_su.jpg') }}">
							</div>
							<div class="info">
								<div class="title">
									<a href="#">Eric Su</a>
								</div>
								<div class="desc">
									Senior at University of Texas seeking a Bachelor of Arts in Computer Science.
									<p></p>
									Hobbies: Singing, Guitar
									<p></p>
									Frontend Design/Development 

									<p></p>
									Commits: 62
									Issues: 48
									Unit Tests: 0
								</div>
							</div>
						</div>
					</li>
					<li class="col-xs-12 col-md-6 col-lg-6">
						<div class="card hovercard">
							<div class="cardheader">

							</div>
							<div class="avatar">
								<img alt="" src="{{ url_for('static', filename='../static/img/team/ben_pang.jpg') }}">
							</div>
							<div class="info">
								<div class="title">
									<a href="#">Ben Pang</a>
								</div>
								<div class="desc">
									Senior at University of Texas seeking a Bachelor of Science degree in Computer Science.
									<p></p>
									Hobbies: Video Games, Programming, Music, Drumming
									<p></p>
									Backend/Flask, Endpoints/Unit Testing, Flask Model Design

									<p></p> 
									Commits: 19
									Issues: 11
									Unit Tests: 53
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div> -->
	</content>
</article>

{% endblock %}
