{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <content>
    <!--             <div class="search">
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Name" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Country" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>By Games</option>
                            <option>Sochi 2014</option>
                            <option>London 2012</option>
                            <option>Vancouver 2010</option>
                            <option>Beijing 2008</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn pull-right">Search</button>
              </div> -->
    {% if athletes %}
    <div id="browse-results-container" class="results-container">
        <div class="title">
            <h2>Browse Athletes</h2>
        </div>
        <!-- <div class="btn-group pull-right" style="margin-right: 6px; margin-top: -52px; z-index: 1000">
            <button class="btn disabled" type="button" style="color: black;">Sort By: </button>
            <button class="btn btn-primary" type="button" onclick="byName()">Name</button>
            <button class="btn btn-primary" type="button" onclick="byCountry()">Country</button>
            <button class="btn btn-primary" type="button" onclick="byYear()">Year</button>
        </div> -->

        {% set alpha = ['a','b','c','d','e','f','g','h','i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'x', 'y', 'z'] %}

        <div class="btn-group">
            <ul id="tabs">
                <a href="#a-alpha" data-toggle="tab">
                    <li type="button" class="active btn btn-primary">
                     a 
                    </li>
                </a>
                {% for letter in alpha[1:] %}
                    <a href="#{{ letter }}-alpha" data-toggle="tab">
                        <li type="button" class="btn btn-primary">
                            {{ letter }} 
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="results">
            <div class="container">
                <div class="row" id="" style="text-align: center;">  
                    <div id="tab-content" class="tab-content">
                        <div class="tab-pane active" id="a-alpha">
                            {% for athlete in athletes %}
                                {% if athlete.athlete_name[0] | lower == 'a' %}
                                <div class="col-md-3" data-name="{{ athlete.athlete_name }}">
                                    <ul class="list-group">
                                    <!-- <ul id="athlete_card_details" class="list-group"> -->
                                        <a href="{{athlete["athlete_id"]}}" class="list-group-item" style="background-color: #eee; font-weight: bold; text-align: center;">
                                            {{ athlete["athlete_name"]|default("N/A") }}
                                        </a>
                                        <a href="{{ url_for("countries")}}{{ athlete["country"].country_id }}" class="list-group-item">
                                            Country: {{ athlete.country["country_name"]|default("N/A") }}
                                            <!-- Country: {{ athlete["country"]|default("N/A") }} -->
                                        </a>
                                        {% for sport in athlete["sports"] %}
                                        <a class="list-group-item">
                                            Sports: {{sport["sport_name"]}}
                                            <!-- <p>Sport: {{sport[1]}}</p> -->
                                        </a>
                                        {% endfor %}
                                        <li class="list-group-item">
                                            Games:
                                            {% if athlete["olympics"] %}
                                                {% for year in athlete["olympics"] %}
                                                    <a href="{{ url_for("games")}}{{ year.olympic_id }}">
                                                        {{year["olympic_year"]}}
                                                    </a>
                                                {% endfor %}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item">
                                            Total medals: {{ athlete["num_medal"]|default("N/A") }}
                                        </li>
                                        <a href="{{ url_for("games")}}{{ athlete.country.latest_year_id }}" class="list-group-item">
                                            Latest year: {{ athlete["country"]["latest_year"]|default("N/A") }}
                                        </a>
                                    </ul>
                                </div>
                                {% endif %}
                            {% endfor %}    
                        </div>

                        {% for letter in alpha[1:] %}
                            <div class="tab-pane" id="{{ letter }}-alpha">
                                {% for athlete in athletes %}
                                    {% set some_letter = letter %}
                                    {% if athlete.athlete_name[0] | lower == some_letter  %}
                                    <div class="col-md-3" data-name="{{ athlete.athlete_name }}">
                                        <ul class="list-group">
                                        <!-- <ul id="athlete_card_details" class="list-group"> -->
                                            <a href="{{athlete["athlete_id"]}}" class="list-group-item" style="background-color: #eee; font-weight: bold; text-align: center;">
                                                {{ athlete["athlete_name"]|default("N/A") }}
                                            </a>
                                            <a href="{{ url_for("countries")}}{{ athlete["country"].country_id }}" class="list-group-item">
                                                Country: {{ athlete.country["country_name"]|default("N/A") }}
                                                <!-- Country: {{ athlete["country"]|default("N/A") }} -->
                                            </a>
                                            {% for sport in athlete["sports"] %}
                                            <a class="list-group-item">
                                                Sports: {{sport["sport_name"]}}
                                                <!-- <p>Sport: {{sport[1]}}</p> -->
                                            </a>
                                            {% endfor %}
                                            <li class="list-group-item">
                                                Games:
                                                {% if athlete["olympics"] %}
                                                    {% for year in athlete["olympics"] %}
                                                        <a href="{{ url_for("games")}}{{ year.olympic_id }}">
                                                            {{year["olympic_year"]}}
                                                        </a>
                                                    {% endfor %}
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item">
                                                Total medals: {{ athlete["num_medal"]|default("N/A") }}
                                            </li>
                                            <a href="{{ url_for("games")}}{{ athlete.country.latest_year_id }}" class="list-group-item">
                                                Latest year: {{ athlete["country"]["latest_year"]|default("N/A") }}
                                            </a>
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% endfor %}    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="results-container">
        <div class="title">
            <h2>{{ athlete_name }}</h2>
        </div>
        <div class="results">
            <div class="row">
                <div class="list-group col-md-4">
                    <!-- <img class="img-responsive" src="http://placehold.it/1920x350/&text={{ athlete_name }}"> -->
                    <img class="img-responsive" src="{{ url_for('static', filename='../static/img/athletes/')}}{{ athlete_name |replace(" ","_") }}.jpg" onerror="this.src='http://ctlatinonews.com/wp-content/uploads/missing-mcsanl.gov_.png';">
                </div>
                <ul class="list-group col-md-8">
                    <a href="{{ url_for("countries")}}{{ country_id }}">
                        <li class="list-group-item">Country: {{ country_name }}</li>    
                    </a>
                        <li class="list-group-item">Gender: {{ athlete_gender | default("N/A") }}</li>  
                        <!-- <li class="list-group-item">Country: {{ country_repr }}</li>    -->
                    <li class="list-group-item">
                        Games Participated: 
                        {% for year in olympics %} 
                        <a href="{{ url_for("games")}}{{ year.olympic_id }}">
                            {{ year.olympic_year }} 
                        </a>
                        {% endfor %}
                    </li>

                    <li class="list-group-item">Total Medals: {{ num_medals }}</li>
                </ul>
                <ul class="list-group col-md-12">
                    <h3>Top Events:</h3>    
                    {% if athlete_top_events %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Sport
                                </th>
                                <th>
                                    Event
                                </th>
                                <th>
                                    Gold
                                </th>
                                <th>
                                    Silver
                                </th>
                                <th>
                                    Bronze
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in athlete_top_events %}
                            <tr>
                                <td> <a href="{{ url_for("sports")}}{{ event.sport_id }}" style="color: #DDD;"> {{ event.sport_name }} </a> </td>
                                <td> <a href="{{ url_for("events")}}{{ event.event_id }}" style="color: #DDD;"> {{ event.event_name | title }} </a> </td>
                                <td> {{ event.num_gold }} </td>
                                <td> {{ event.num_silver }} </td>
                                <td> {{ event.num_bronze }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                       No top events!
                    {% endif %}
                </ul>
                <ul class="list-group col-md-12">
                    <h3>All Events:</h3>    
                    {% if athlete_events %}
                    <!-- {{ athlete_events }} -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Game
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    Sport
                                </th>
                                <th>
                                    Event
                                </th>
                                <th>
                                    Medal won
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for year in athlete_events %}
                              <tr>
                                  <td> <a href="{{ url_for("games")}}{{ year.olympic_id }}" style="color: #DDD;"> {{ year.olympic_year }} </a> </td>
                                  <td> <a href="{{ url_for("countries")}}{{ year.country_id }}" style="color: #DDD;"> {{ year.country_name }} </a> </td>
                                  <td> <a href="{{ url_for("sports")}}{{ year.sport_id }}" style="color: #DDD;"> {{ year.sport_name }} </a> </td>
                                  <td> <a href="{{ url_for("events")}}{{ year.event_id }}" style="color: #DDD;"> {{ year.event_name | title }} </a> </td>
                                  <td> {{ year.medal_rank }} </td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                       No events!
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    </content>
</article>
{% endblock %}

