{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <content>
        <div class="results-container">
            <div class="title">
                <h2>Browse Athletes</h2>
            </div>
<!--             <div class="search">
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Name" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Country" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>By Games</option>
                            <option>Sochi 2014</option>
                            <option>London 2012</option>
                            <option>Vancouver 2010</option>
                            <option>Beijing 2008</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn pull-right">Search</button>
            </div> -->
            <div class="results">
                {% if athletes %}
       <!--          {% for athlete in athletes %}
                  <p>{{ athletes[athlete]["id"]|default("N/A") }}</p>
                  <p>{{ athletes[athlete]["name"]|default("N/A") }}</p>
                  <p>{{ athletes[athlete]["country"]|default("N/A") }}</p>
                  <p>{{ athletes[athlete]["country_id"]|default("N/A") }}</p>
                  {% for sport in athletes[athlete]["sports"] %}
                    <p>{{sport}}</p>
                  {% endfor%}
                  {% for year in athletes[athlete]["years"] %}
                    <p>{{ year }}</p>
                  {% endfor %}
                  <p>{{ athletes[athlete]["total_medals"]|default("N/A") }}</p>
                  <p>{{ athletes[athlete]["latest_year"]|default("N/A") }}</p>
                {% endfor %} -->
                <div class="list-group">
                {% for athlete in athletes %}
                <a href="{{athletes[athlete]["id"]}}" class="list-group-item">
                  <div class="row">
                    <div class="col-xs-2">
                      <div class="tile">
                          <p>Athlete photo</p>
                      </div>
                    </div>
                    <div class="col-xs-9">
                        <ul class="list-group">
                          <li class="list-group-item">
                            Name: {{ athletes[athlete]["name"]|default("N/A") }}
                          </li>
                          <li class="list-group-item">
                            Country: {{ athletes[athlete]["country"]|default("N/A") }}
                            ID: {{ athletes[athlete]["country_id"]|default("N/A") }}
                          </li>
                          {% for sport in athletes[athlete]["sports"] %}
                            <li class="list-group-item">
                            <p>Sport: {{sport}}</p>
                            </li>
                            {% endfor %}
                          <li class="list-group-item">
                            {% for year in athletes[athlete]["years"] %}
                              <p>{{ year }}</p>
                            {% endfor %}
                          </li>
                          <li class="list-group-item">
                            Total medals: {{ athletes[athlete]["total_medals"]|default("N/A") }}
                          </li>
                          <li class="list-group-item">
                            Latest year: {{ athletes[athlete]["latest_year"]|default("N/A") }}
                          </li>
                        </ul>
                    </div>
                  </div>
                </a>
                {% endfor %}    
                </div>
                {% endif %}
            </div>

        </div>
    </content>
</article>
{% endblock %}