{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <content>
    <!--             <div class="search">
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Name" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Athlete" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>By Year</option>
                            <option>2014</option>
                            <option>2012</option>
                            <option>2010</option>
                            <option>2008</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn pull-right">Search</button>
            </div> -->

    {% if featured_countries %}
    <div class="results-container">
        <div class="title">
            <h2>
                Featured Countries
            </h2>
        </div>
        <div class="results">
            <div class="row">
                <div id="country_container" class="container" style="text-align: center;">
                    {% for country in featured_countries %}
                    <div class="card col-md-3" style=" min-width: 240px; padding: 0 10px; background-color: transparent; box-shadow: none;">
                        <a href="{{country.country_id}}">
                            <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country.country_name|replace(" ","_") }}.jpg" class="img-responsive" style="height: 100%; width: 100%">
                        </a>
                                    <ul class="list-group">
                                        <li class="list-group-item">Total Medals: {{ country.num_medal}}</li>
                                        <li class="list-group-item">Number of Medalists: {{ country.num_medalist }}</li>
                                        <li class="list-group-item">
                                            Years Hosted:
                                            {% if country.years_hosted %}
                                                {% for year in country.years_hosted %}
                                                    {{year.olympic_year}}
                                                {% endfor %}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </li>
                                    </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if all_countries %}
    <div class="results-container">
        <div class="title">
            <h2>Browse Countries</h2>
        </div>
        <div class="btn-group pull-right" style="margin-right: 6px; margin-top: -52px; z-index: 1000">
            <button class="btn disabled" type="button" style="color: black;">Sort By: </button>
            <button class="btn btn-primary" type="button" onclick="byName()">Name</button>
            <button class="btn btn-primary" type="button" onclick="byMedals()">Most Medals</button>
            <button class="btn btn-primary" type="button" onclick="byMedalists()">Most Medalists</button>
        </div>
        <div class="results">
            <div class="row">
                <div id="country_container" class="container" style="text-align: center;">
                    {% for country in all_countries %}
                    <div class="card col-md-2" style="width: 220px; margin: 10px">
                        <a href="{{country.country_id}}">
                            <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country.country_name|replace(" ","_") }}.jpg" class="img-responsive" style="height: 130px; width: 100%">
                        </a>
                        <ul id="athlete_card_details" class="list-group">
                            <a href="{{country["country_id"]}}" class="list-group-item" style="background-color: #eee; color: black; font-weight: bold; text-align: center;">
                                {{ country["country_name"]|default("N/A") }}
                            </a>
                            <li class="list-group-item">Total Medals: {{ country.num_medal}}</li>
                            <li class="list-group-item">Number of Medalists: {{ country.num_athlete }}</li>
                            <li class="list-group-item">
                                Years Hosted:
                                {% if country.years_hosted %}
                                    {% for year in country.years_hosted %}
                                        {{year.olympic_year}}
                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="results-container">
        <div class="title">
            <h2> {{ country_name }} </h2>
        </div>
        <div class="results">
       		<div class="row">
               <div class="list-group col-md-12" style="margin-bottom: 25px">
                	<div class="embed-responsive embed-responsive-16by9">
                    	<iframe
                         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCB23D0g_v3XQzLdzy8_i1FtXr4eNbz8CE&q={{ country_name }}">
               			</iframe>
           			</div>  
            	</div>
            </div>
            <div class="row">
                <div class="list-group col-md-4">
                    <!-- <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country_id }}.jpg" class="img-responsive"> -->
                    <!-- <li class="list-group-item"> -->
	                    <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country_name|replace(" ","_") }}.jpg" class="img-responsive">
                    <!-- </li> -->
                </div>
                <ul class="list-group col-md-8">
                    <li class="list-group-item">Total Medals: {{ total_medals }}</li>
                    <li class="list-group-item">Total Gold Medals: {{ total_gold_medals }}</li>
                    <li class="list-group-item">Total Athletes: {{ total_athletes }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="list-group col-md-12">
                	<h3>Years Hosted</h3>
                </div>
                <div class="list-group col-md-12">
                {% if years_hosted %}
                    {% for year in years_hosted %}
                    <li class="list-group-item">
                        <a href="{{ url_for("games") }}{{ year.olympic_id }}">
                        <!-- <a href="{{ url_for("games") }}{{ year[0] }}"> -->
                        {{ year.olympic_year }}
                            <!-- {{ year[1] }} -->
                        </a>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
	               		No years hosted!
               		</li>
                {% endif %}
                </div>

                <h3>Top Years</h3>
                {% if top_years %}

                <div class="list-group col-md-12">
                    {% for year in top_years %}
                    <li class="list-group-item">
                    	<a href="{{ url_for("games")}}{{ year["olympic_id"] }}">
                        {{ year.olympic_year }}
                        </a>
                    </li>
                    {% endfor %}
                </div>
                {% else %}
	                <li class="list-group-item">
	               		No top years found!
					</li>
                {% endif %}

				<h3>Top Medalists</h3>
                {% if top_medalists %}
                    <div class="list-group col-md-12">
                        {% for medalist in top_medalists %}
                        <li class="list-group-item">
	                        <a href="{{ url_for("athletes") }}{{ medalist["athlete_id"] }}">
                           		{{ medalist.athlete_first_name }} {{ medalist.athlete_last_name }}
	                        </a>
                        </li>
                        {% endfor %}
                    </div>
                {% else %}
	                <li class="list-group-item">
	               		No top medalists found!
					</li>   
                {% endif %}

                <h3>Top Events</h3>
                {% if top_events %}
                <div class="list-group col-md-12">
                    {% for event in top_events %}
                    <li class="list-group-item">
	                    <a href="{{ url_for("events") }}{{ event.event_id }}">
	                    <!-- <a href="{{ url_for("events") }}{{ event[0] }}"> -->
                        {{ event["event_name"] | title }}
                        <!-- {{ event[1] }} -->
                        </a>
                    </li>
                    {% endfor %}
                </div>
                {% else %}
	                <li class="list-group-item">
	               		No top events found!
					</li>   
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    </content>
</article>
{% endblock %}
