{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <content>
    <!--             <div class="search">
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Name" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="By Athlete" name="q">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control" id="sel1">
                            <option>By Year</option>
                            <option>2014</option>
                            <option>2012</option>
                            <option>2010</option>
                            <option>2008</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn pull-right">Search</button>
            </div> -->

    {% if featured_countries %}
    <div class="results-container">
        <div class="title">
            <h2>
                TODO: Featured Countries
            </h2>
        </div>
    </div>
    {% endif %}

    {% if all_countries %}
    <div class="results-container">
        <div class="title">
            <h2>Browse Countries</h2>
        </div>
        <div class="results">
            <div class="list-group">
                {% for country in all_countries %}
                <a href="{{country.country_id}}" class="list-group-item">
                <!-- <a href="{{country[0]}}" class="list-group-item"> -->
                    <div class="row">
                        <div class="col-xs-4">
                            <h4>
                                {{ country.country_name}}
                            </h4>

                            <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country.country_name|replace(" ","_") }}.jpg" class="img-responsive">
                            <!-- <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country[0] }}.jpg" class="img-responsive"> -->
                            <!-- <img src="http://placehold.it/160x200&text=Country {{country[0]}}" class="img-responsive"> -->
                        </div>
                        <div class="col-xs-8">
                            <ul class="list-group">
                                <!-- <li class="list-group-item">{{ country[1] }}</li> -->
                                <!-- <li class="list-group-item">Years Hosted: {{ country[2]}}</li> -->
                                <li class="list-group-item">Total Medals: {{ country.num_medal}}</li>
                                <!-- <li class="list-group-item">Total Medals: {{ country[3]}}</li> -->
                                <li class="list-group-item">Number of Medalists: {{ country.num_athlete }}</li>
                                <!-- <li class="list-group-item">Number of Medalists: {{ country[4] }}</li> -->
                                <li class="list-group-item">
                                    Years Hosted:
                                    {% for year in country.years_hosted %}

                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="results-container">
        <div class="title">
            <h2> {{ country_name }} </h2>
        </div>
        <div class="results">
            <div class="row">
                <div class="list-group col-md-4">
                    <!-- <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country_id }}.jpg" class="img-responsive"> -->
                    <!-- <li class="list-group-item"> -->
	                    <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country_name|replace(" ","_") }}.jpg" class="img-responsive">
                    <!-- </li> -->
                </div>
                <ul class="list-group col-md-8">
                    <li class="list-group-item">Total Medals: {{ total_medals }}</li>
                    <li class="list-group-item">Total Gold Medals: {{ total_gold_medals }}</li>
                    <li class="list-group-item">Total Athletes: {{ total_athletes }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="list-group col-md-12">
                {% if years_hosted %}
                <h3>Years Hosted</h3>
                </div>
                <div class="list-group col-md-12">
                    {% for year in years_hosted %}
                    <li class="list-group-item">
                        <a href="{{ url_for("games") }}{{ year.olympic_id }}">
                        <!-- <a href="{{ url_for("games") }}{{ year[0] }}"> -->
                        {{ year.olympic_year }}
                            <!-- {{ year[1] }} -->
                        </a>
                    </li>
                    {% endfor %}
                </div>
                {% endif %}

                <h3>Top Years</h3>
                {% if top_years %}
                <div class="list-group col-md-12">
                    {% for year in top_years %}
                    <li class="list-group-item">
                    	<a href="{{ url_for("games")}}{{ year["olympic_id"] }}">
                    	<!-- <a href="{{ url_for("games")}}{{ year[0] }}"> -->
                        {{ year.olympic_year }}
                        </a>
                    </li>
                    {% endfor %}
                </div>
                {% endif %}

                    <h3>Top Medalists</h3>
                {% if top_medalists %}
                    <div class="list-group col-md-12">
                        {% for medalist in top_medalists %}
                        <li class="list-group-item">
	                        <a href="{{ url_for("athletes") }}{{ medalist["medalist_id"] }}">
	                        <!-- <a href="{{ url_for("athletes") }}{{ medalist[0] }}"> -->
                        	
                            {{ medalist.athlete_first_name }} {{ medalist.athlete_last_name }}
                            <!-- {{ medalist[1] }} {{ medalist[2] }} -->
	                        </a>
                        </li>
                        {% endfor %}
                    </div>
                {% endif %}

                <h3>Top Events</h3>
                {% if top_events %}
                <div class="list-group col-md-12">
                    {% for event in top_events %}
                    <li class="list-group-item">
	                    <a href="{{ url_for("events") }}{{ event.event_id }}">
	                    <!-- <a href="{{ url_for("events") }}{{ event[0] }}"> -->
                        {{ event["event_name"] }}
                        <!-- {{ event[1] }} -->
                        </a>
                    </li>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    </content>
</article>
{% endblock %}
