{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">

{% if featured_events %}
  <content>
    <div class="container">
     <div class="row">
        <header>
          <h2><a href="#" title="Featured Events">Featured Events</a></h2>
        </header>
         {% for event in featured_events %}
         <a href="{{event["event_id"]}}">
           
         <div class="col-md-4 portfolio-item">
           <img class="img-responsive" src="http://placehold.it/680x420/ffffff/&text={{event.event_name +' ('+event.sport_name+')'}}" alt="">

         </div>
         </a>
         {% endfor %}
     </div>
   </div>
 </content>

 {% endif %}

 {% if all_events %}
     <content>
       <div class="container">
        <div class="row">
           <header>
             <h2><a href="#" title="Browse Events">Browse Events</a></h2>
           </header>
            {% for event in all_events %}
            <a href="{{event["event_id"]}}">
            <!-- <a href="{{event[1]}}"> -->
              
            <div class="col-md-3 portfolio-item">
              <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{event.event_name+' ('+event.sport_name+')'}}" alt="">

            </div>
            </a>
            {% endfor %}
        </div>
      </div>
    </content>

 {% else %}
 <content>
 <div class="results-container">
     <div class="title">
         <h2> {{ event_name }}</h2>
     </div>
     <div class="results">
         <h3 style="text-align: center;">Top Medalists</h3>
         <div class="container">
             <div class="row">
                 {% for medal in medalists %}
                 <div class="list-group col-md-4 portfolio-item">
                     {% if medal == "Gold" %}
                         <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Gold_medal.svg/300px-Gold_medal.svg.png" alt="" style="margin: 0 auto;">
                     {% endif %}
                     {% if medal == "Silver" %}
                         <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/0/03/Silver_medal.svg" alt="" style="margin: 0 auto;">
                     {% endif %}
                     {% if medal == "Bronze" %}
                         <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/5/52/Bronze_medal.svg" alt="" style="margin: 0 auto;">
                     {% endif %}
                     {% for athlete in medalists[medal] %}
                     <h4 style="text-align: center;"> {{ athlete.rank }} </h4>
                     <div class="card">
                         <!-- <li class="list-group-item">Name: {{ athlete["athlete_name"] }}</li> -->
                         <img class="img-responsive" src="http://placehold.it/580x520/ffffff/&text=Athlete Photo" alt="">
                         <a href="{{ url_for("athletes") }}{{ athlete.athlete_id }}" class="list-group-item">
                             Name:
                                 {{ athlete.athlete_name }}
                         </a>  
                         <a href="{{ url_for("countries") }}{{ athlete.country_id }}" class="list-group-item">
                             Country: 
                                 {{ athlete.country_name }}
                         </a>
                         <li class="list-group-item">
                             Year: {{ athlete.year }}
                         </li>
                     </div> <!-- card -->
                     {% endfor %}
                 </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>
 </content>
{% endif %}

</article>
{% endblock %}
