{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">

  <content>
    <div class="container">
     <div class="row">
       {% if featured_events %}
        <header>
          <h2><a href="#" title="Featured Events">Featured Events</a></h2>
        </header>
         {% for event in featured_events %}
         <a href="{{event[1]}}">
           
         <div class="col-md-3 portfolio-item">
           <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{event[2]}}" alt="">

         </div>
         </a>
         {% endfor %}
     </div>
     <!-- /.row -->
   </div>
 </content>

 {% else %}
 <content>
 <div class="results-container">
     <div class="title">
         <h2>Events</h2>
     </div>
     <div class="results">
         <div class="container">
             <h3>Top Medalists</h3>
             {% for medalist in medalists %}
             <div class="row">
                 <div class="list-group col-md-12 portfolio-item">
                     <li class="list-group-item">Game: {{ medalist[1] }}</li>
                     <li class="list-group-item">Name: {{ medalist[2][2] }}</li>
                 </div>
             </div>
             {% endfor %}
             <!-- /.row -->
         </div>
     </div>
 </div>
 </content>
{% endif %}

</article>
{% endblock %}
