{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <content>
        {% if  all_games %}   
        <div class="results-container">
            <div class="title">
                <h2>Games</h2>
            </div>
        <div class="container">
            <ul class="timeline">
                    {% for game in all_games %}
                        <li class="{{ loop.cycle('', 'timeline-inverted') }}">
                            <div class="timeline-badge primary">
                                <a>
                                    <i class="glyphicon glyphicon-record" rel="tooltip" title="" id=""></i>
                                </a>
                            </div>
                            <div class="timeline-panel">
                            <div class="timeline-heading">
                              
                                
                              </div>
                              <div class="timeline-body">
                                <a href="{{ game.olympic_id }}">
                                    <img class="img-responsive" src="http://placehold.it/1000x270/{{ colors[loop.index] }}/ffffff/&text={{ game.olympic_name }}"  style="border-radius: 9px"/>
                                </a>
                                
                              </div>
                              
                 <!--              <div class="timeline-footer">
                                  <a><i class="glyphicon glyphicon-share"></i></a>
                                  <a class="pull-right" href="{{ game[2] }}">Read more</a>
                              </div> -->
                            </div>
                        </li>
                    {% endfor %}
            </ul>
        </div>


        <!-- If the endpoint returned /games/<id> -->
        <!--endpoint returns = 
            random_game_banner, 
            host_country_banner, 
            host_city, 
            year, 
            id, top_athletes, 
            id, top_countries, 
            id, all_events,
            id, all_countries -->
        {% else %}
        <div class="results-container">
            <div class="title">
                <h2>{{ host_city }} {{ year }}</h2>
            </div>
            <div class="results">

                <h3>Top Medalists</h3>
                {% for athlete in top_athletes %}
                    <div class="list-group col-md-12">
                        <a href="{{ url_for("athletes") }}{{ athlete["athlete_id"] }}" class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- <img class="img-responsive" src="http://placehold.it/350x350/&text={{ athlete["athlete_name"] }}"> -->
                                    <img class="img-responsive" src="{{ url_for('static', filename='../static/img/athletes/')}}{{athlete["athlete_name"]|replace(" ","_")}}.jpg">
                                </div>
                                <div class="col-md-1"></div>
                                <ul class="list-group col-md-7">
                                    <li class="list-group-item">Name: {{ athlete.athlete_name }}</li>
                                    <li class="list-group-item">Country: {{ athlete.country_name }}</li>
                                    <!-- <li class="list-group-item">Country: {{ athlete[3] }}</li> -->
                                    <li class="list-group-item">Gold: {{ athlete.num_gold }}</li>
                                    <!-- <li class="list-group-item">Gold: {{ athlete[4] }}</li> -->
                                    <li class="list-group-item">Silver: {{ athlete.num_silver }}</li>
                                    <!-- <li class="list-group-item">Silver: {{ athlete[5] }}</li> -->
                                    <li class="list-group-item">Bronze: {{ athlete.num_bronze }}</li>
                                    <!-- <li class="list-group-item">Bronze: {{ athlete[6] }}</li> -->
                                </ul>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                <h3>Top Countries</h3>
                {% for country in top_countries %}
                    <div class="list-group col-md-12">
                        <a href="{{ url_for("countries") }}{{ country["country_id"] }}" class="list-group-item">
                        <!-- <a href="{{ url_for("countries") }}{{ country[0] }}" class="list-group-item"> -->
                            <div class="row">
                                <div class="col-md-3">
                                    <!-- <img class="img-responsive" src="http://placehold.it/350x350/&text={{ country.country_name }}"> -->
                                    <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country.country_name|replace(" ","_") }}.jpg" class="img-responsive">
                                </div>
                                <div class="col-md-1"></div>
                                <ul class="list-group col-md-7">
                                    <li class="list-group-item">Country: {{ country["country_name"] }}</li>
                                    <li class="list-group-item">Gold: {{ country["num_gold"] }}</li>
                                    <li class="list-group-item">Silver:: {{ country["num_silver"] }}</li>
                                    <li class="list-group-item">Bronze: {{ country["num_silver"] }}</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                <h3>All Events</h3>
                <div class="row">
                {% for event in all_events %}
                    <div class="list-group col-md-3">
                        <a href="{{ url_for("events") }}{{ event["event_id"] }}">
                            <img class="img-responsive" src="http://placehold.it/480x320/&text={{ event["event_name"] | title }}">
                        </a>
                    </div>
                {% endfor %}
                </div>
                <h3>All Countries</h3>
                <div class="row">
                {% for country in all_countries %}
                        <div class="list-group col-md-3">
                            <a href="{{ url_for("countries") }}{{ country["country_id"] }}">
                                <!-- <img class="img-responsive" src="http://placehold.it/1800x350/&text={{ country["country_name"] }}"> -->
                                <img src="{{ url_for('static', filename='../static/img/flags/') }}{{ country.country_name|replace(" ", "_") }}.jpg" class="img-responsive">
                            </a>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </content>
</article>
{% endblock %}
