{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <content>
        <div class="results-container">
            <div class="title">
                <h2>Past Games</h2>
            </div>
            <div class="search" style="height: 10px;">
                <div class="col-md-3"></div>
            </div>
            <div class="results">
                <section id="cd-timeline" class="cd-container">
                	{% for game in all_games %}
	                    <div class="cd-timeline-block">
	                        <div class="cd-timeline-img cd-picture">
	                        </div> <!-- cd-timeline-img -->

	                        <div class="cd-timeline-content">
	                            <a href="#">
	                                <h3>{{ game }}</h3>
	                                <p>{{ game }}</p>
	                            </a>
	                        </div> <!-- cd-timeline-content -->
	                    </div> <!-- cd-timeline-block -->
	                {% endfor %}

                </section> <!-- cd-timeline -->
            </div>
        </div>
    </content>
</article>
{% endblock %}