{% extends "base.html" %}
{% block content %}

<article class="content" id="content-1">
    <header>
        <h2><a href="#" title="Featured Games">Featured Games</a></h2>
    </header>

    <content>
        <div class="container">
            {% if featured_games %}
            <div class="row">
            {% for game in featured_games %}
                <div class="col-md-3 portfolio-item" >
                <a href="{{ url_for("games")}}{{game["olympic_id"]}}">
                  <img class="img-responsive" src="http://placehold.it/480x320/{{ loop.cycle('1abc9c','2ecc71', '3498db', '9b59b6','e74c3c') }}/ffffff/&text={{game.country_name}} {{game.olympic_year}}" alt="">
                </a>
                    
                </div>

       <!--              <div class="tile">
                        <a href={{url_for("games")}}{{game["olympic_id"]}} class="featured_games">
                            <p>country_id: {{game["country_id"]}}</p>
                            <p>country_name: {{game["country_name"]}}</p>
                            <p>city_name: {{game["city_name"]}}</p>
                            <p>olympic_id: {{game["olympic_id"]}}</p>
                            <p>olympic_year: {{game["olympic_year"]}}</p>
                        </a>
                    </div> -->
            {% endfor%}
            </div>
            <a href="/games/" class="see_all">
                <p>See all games</p>
            </a>
            {% endif %}
        </div>
    </content>
</article>

<article class="content" id="content-2">
    <header>
        <h2><a href="#" title="Featured Athletes">Featured Athletes</a></h2>
    </header>

    <content>
        <div class="container">
        
            {% if featured_athletes %}
            <div class="row">
            {% for athlete in featured_athletes %}
                <div class="col-md-3 portfolio-item" >
                    <a href="{{ url_for("athletes")}}{{athlete.athlete_id}}">
                    <!-- <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{ athlete["athlete_name"] }}" alt=""> -->
                    <h3> {{athlete.athlete_name}} </h3>
                    <img class="img-responsive" src="{{ url_for('static', filename='../static/img/athletes/')}}{{athlete.athlete_name|replace(" ", "_") }}.jpg">
                        {% if athlete.num_gold %}
                        Golds: {{ athlete.num_gold | default("0") }}
                        {% endif %}
                        {% if athlete.num_silver %}
                        Silvers: {{ athlete.num_silver }}
                        {% endif %}
                        {% if athlete.num_bronze %}
                        Bronzes: {{ athlete.num_bronze }}
                        {% endif %}
                    </a>
                </div>
        
<!-- 	            <p>name: {{ athlete["athlete_name"]|default("N/A") }}</p>
                    <p>id: {{ athlete["athlete_id"]|default("N/A") }}</p>
                    <p>gold: {{ athlete["num_gold"] }}</p>
                    <p>silver: {{ athlete["num_silver"] }}</p>
                    <p>bronze: {{ athlete["num_bronze"] }}</p> -->
<!-- 
            <div class="row">
                <div class="col-md-3">
                    <div class="tile">
                        <a href="#" class="featured_athletes">
                            <div class="wrapper" style="width: 100%; height: 100%; background-image: url('http://media.komonews.com/images/140414_michael_phelps_lg.jpg'); background-position: center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group" id="athlete-facts">
                        <a href="#" class="list-group-item">Name: {{ athlete["athlete_name"]|default("N/A") }}</a>
                        <a href="#" class="list-group-item">Gold Medals: {{athlete["num_gold"]}}</a>
                        <a href="#" class="list-group-item">Silver Medals: {{athlete["num_silver"]}}</a>
                        <a href="#" class="list-group-item">Bronze Medals: {{athlete["num_bronze"]}}</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="tile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Sport</th>
                                    <th>Event</th>
                                    <th>Medals</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for event in athlete["olympic_table"] %}
                                <tr>
                                        <td>
                                            <a href={{ url_for("games") }}{{event["olympic_id"]}}>{{ event["olympic_name"][1] }}</a>
                                        </td>
                                        <td>
                                            <a href={{ url_for("sports") }}{{event["sport_id"]}}>{{ event["sport_name"][1] }}</a>
                                        </td>
                                        <td>	
                                            <a href={{ url_for("events") }}{{event["event_id"]}}>{{ event["event_name"][1]|default("N/A") }}</a>
                                        </td>
                                        
                                        <td>
                                            {{ event["medal_rank"] }}
                                        </td>
                                    
                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            {% endfor %}
<!--             <div class="row">
                <div class="col-md-3">
                    <div class="tile">
                        <a href="#" class="featured_athletes_pic">
                            <div class="wrapper" style="width: 100%; height: 100%; background-image: url('http://media.komonews.com/images/140414_michael_phelps_lg.jpg'); background-position: center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group" id="athlete-facts">
                        <a href="#" class="list-group-item">Name: {{athlete_name}}</a>
                        <a href="#" class="list-group-item">Country: {{athlete_country}}</a>
                        <a href="#" class="list-group-item">Gold Medals: {{num_gold}}</a>
                        <a href="#" class="list-group-item">Silver Medals: {{num_silver}}</a>
                        <a href="#" class="list-group-item">Bronze Medals: {{num_bronze}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Sport</th>
                                    <th>Event</th>
                                    <th>Result</th>
                                    <th>Medals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="tile">
                        <a href="#" class="featured_athletes_pic">
                            <div class="wrapper" style="width: 100%; height: 100%; background-image: url('http://media.komonews.com/images/140414_michael_phelps_lg.jpg'); background-position: center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group" id="athlete-facts">
                        <a href="#" class="list-group-item">Name: {{athlete_name}}</a>
                        <a href="#" class="list-group-item">Country: {{athlete_country}}</a>
                        <a href="#" class="list-group-item">Gold Medals: {{num_gold}}</a>
                        <a href="#" class="list-group-item">Silver Medals: {{num_silver}}</a>
                        <a href="#" class="list-group-item">Bronze Medals: {{num_bronze}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Sport</th>
                                    <th>Event</th>
                                    <th>Result</th>
                                    <th>Medals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            </div>
            <a href="/athletes/" class="see_all">
                <p>See all athletes</p>
            </a>
            {% endif %}
        </div>
    </content>
</article>

<article class="content hidden" id="content-3">
    <header>
        <h2><a href="#" title="Featured Sports" style="color: #fff;">Featured Sports</a></h2>
    </header>

    <content>
        <div class="container">
        {% if featured_sports %}
            <div class="row">
            {% for sport in featured_sports %}
                <div class="col-md-3 portfolio-item" >
                    <a href="{{ url_for("sports")}}{{sport["sport_id"]}}">
                      <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{sport["sport_name"]}}" alt="">
                  </a>
                </div>
            {% endfor  %}
            </div>
            <a href="/sports/" class="see_all" style="color: #fff;">
                <p>See all sports</p>
            </a>
            {% endif %}
        </div>
    </content>
</article>

<article class="content" id="content-4">
    <header>
        <h2><a href="#" title="Featured Countries">Featured Countries</a></h2>
    </header>

    <content>
        <div class="container">
          {% if featured_countries %}
              <div class="row">
              {% for country in featured_countries %}
                  <div class="col-md-3 portfolio-item" >
                      <h3> {{country.country_name}} </h3>
                      <a href="{{ url_for("countries")}}{{country["country_id"]}}">
                        <img src="{{ url_for('static', filename='../static/img/flags/') }}{{country["country_name"]|replace(" ","_")}}.jpg" class="img-responsive">

                        {% if country.num_athlete %}
                        Number of athletes: {{ country.num_athlete }}
                        {% endif %}
                        {% if country.num_gold %}
                        Golds: {{ country.num_gold }}
                        {% endif %}
                         {% if country.num_silver %}
                        Silvers: {{ country.num_silver }}
                        {% endif %}
                         {% if country.num_bronze %}
                        Bronzes: {{ country.num_bronze }}
                        {% endif %}
                    </a>
                  </div>
              {% endfor  %}
              </div>
              <a href="/countries/" class="see_all" style="color: #fff;">
                  <p>See all countries</p>
              </a>
              {% endif %}
        </div>
    </content>
</article>
{% endblock %}