{% extends "base.html" %}
{% block content %}

<article class="content" id="content-1">
    <header>
        <h2><a href="#" title="Featured Games">Featured Games</a></h2>
    </header>

    <content>
        <div class="container">
            {% if featured_games %}
            <div class="row">
            {% for game in featured_games %}
                <div class="col-md-3 portfolio-item" >
                <a href="{{ url_for("games")}}{{game["olympic_id"]}}">
                  <img class="img-responsive" src="http://placehold.it/480x320/{{ loop.cycle('1abc9c','2ecc71', '3498db', '9b59b6','e74c3c') }}/ffffff/&text={{game.country_name}} {{game.olympic_year}}" alt="">
                </a>
                    
                </div>

       <!--              <div class="tile">
                        <a href={{url_for("games")}}{{game["olympic_id"]}} class="featured_games">
                            <p>country_id: {{game["country_id"]}}</p>
                            <p>country_name: {{game["country_name"]}}</p>
                            <p>city_name: {{game["city_name"]}}</p>
                            <p>olympic_id: {{game["olympic_id"]}}</p>
                            <p>olympic_year: {{game["olympic_year"]}}</p>
                        </a>
                    </div> -->
            {% endfor%}
            </div>
            <a href="/games/" class="see_all">
                <p>See all games</p>
            </a>
            {% endif %}
        </div>
    </content>
</article>

<article class="content" id="content-2">
    <header>
        <h2><a href="#" title="Featured Athletes">Featured Athletes</a></h2>
    </header>

    <content>
        <div class="container">
        {% if featured_athletes_pic %}
        <div class="row">
            {% for athlete in featured_athletes_pic %}
                <div class="col-md-3 portfolio-item" >
                    <a href="{{ url_for("athletes")}}{{athlete}}">
                      <!-- <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{ featured_athletes_pic[athlete]["athlete_name"] }}" alt=""> -->
                      <img class="img-responsive" src="{{ url_for('static', filename='../static/img/athletes/')}}{{featured_athletes_pic[athlete].athlete_name|replace(" ", "_") }}.jpg">
                        {% if featured_athletes_pic[athlete].num_gold %}
                        TODO: GOLD
                        {% endif %}
                         {% if featured_athletes_pic[athlete].num_silver %}
                        TODO: SILVER
                        {% endif %}
                         {% if featured_athletes_pic[athlete].num_bronze %}
                        TODO: BRONZE
                        {% endif %}
                    </a>
                </div>
        
<!-- 	            	<p>name: {{ featured_athletes_pic[athlete]["name"]|default("N/A") }}</p>
	            	<p>id: {{ featured_athletes_pic[athlete]["id"]|default("N/A") }}</p>
	            	<p>country: {{ featured_athletes_pic[athlete][country]|default("N/A") }}</p>
	            	<p>year: {{ featured_athletes_pic[athlete]["year"]|default("N/A") }}</p>
	            	<p>gold: {{ featured_athletes_pic[athlete]["gold"] }}</p>
	            	<p>silver: {{ featured_athletes_pic[athlete]["silver"] }}</p>
	            	<p>bronze: {{ featured_athletes_pic[athlete]["bronze"] }}</p>
	            	<p>events: {{ featured_athletes_pic[athlete]["events"] }}</p> -->
<!-- 
            <div class="row">
                <div class="col-md-3">
                    <div class="tile">
                        <a href="#" class="featured_athletes_pic">
                            <div class="wrapper" style="width: 100%; height: 100%; background-image: url('http://media.komonews.com/images/140414_michael_phelps_lg.jpg'); background-position: center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group" id="athlete-facts">
                        <a href="#" class="list-group-item">Name: {{ featured_athletes_pic[athlete]["name"]|default("N/A") }}</a>
                        <a href="#" class="list-group-item">Country: {{ featured_athletes_pic[athlete][country]|default("N/A") }} </a>
                        <a href="#" class="list-group-item">Active years: {{ featured_athletes_pic[athlete]["year"]|default("N/A") }} </a>
                        <a href="#" class="list-group-item">Gold Medals: {{featured_athletes_pic[athlete]["gold"]}}</a>
                        <a href="#" class="list-group-item">Silver Medals: {{featured_athletes_pic[athlete]["silver"]}}</a>
                        <a href="#" class="list-group-item">Bronze Medals: {{featured_athletes_pic[athlete]["bronze"]}}</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="tile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Sport</th>
                                    <th>Event</th>
                                    <th>Medals</th>
                                </tr>
                            </thead>
                            <tbody>
                                	{% for event in featured_athletes_pic[athlete]["events"] %}
                                <tr>
                                		<td>
                                			<a href={{ url_for("games") }}{{event["game"][0]}}>{{ event["game"][1] }}</a>
                            			</td>
                                		<td>
                                			<a href={{ url_for("sports") }}{{event["sport"][0]}}>{{ event["sport"][1] }}</a>
				                        </td>
                                		<td>	
                                			<a href={{ url_for("events") }}{{event["event"][0]}}>{{ event["event"][1]|default("N/A") }}</a>
                                		</td>
                                		
                                		<td>
                                			{{ event["medal"] }}
                                		</td>
	                                
                                </tr>
                                	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            {% endfor %}
<!--             <div class="row">
                <div class="col-md-3">
                    <div class="tile">
                        <a href="#" class="featured_athletes_pic">
                            <div class="wrapper" style="width: 100%; height: 100%; background-image: url('http://media.komonews.com/images/140414_michael_phelps_lg.jpg'); background-position: center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group" id="athlete-facts">
                        <a href="#" class="list-group-item">Name: {{athlete_name}}</a>
                        <a href="#" class="list-group-item">Country: {{athlete_country}}</a>
                        <a href="#" class="list-group-item">Gold Medals: {{num_gold}}</a>
                        <a href="#" class="list-group-item">Silver Medals: {{num_silver}}</a>
                        <a href="#" class="list-group-item">Bronze Medals: {{num_bronze}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Sport</th>
                                    <th>Event</th>
                                    <th>Result</th>
                                    <th>Medals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="tile">
                        <a href="#" class="featured_athletes_pic">
                            <div class="wrapper" style="width: 100%; height: 100%; background-image: url('http://media.komonews.com/images/140414_michael_phelps_lg.jpg'); background-position: center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group" id="athlete-facts">
                        <a href="#" class="list-group-item">Name: {{athlete_name}}</a>
                        <a href="#" class="list-group-item">Country: {{athlete_country}}</a>
                        <a href="#" class="list-group-item">Gold Medals: {{num_gold}}</a>
                        <a href="#" class="list-group-item">Silver Medals: {{num_silver}}</a>
                        <a href="#" class="list-group-item">Bronze Medals: {{num_bronze}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Sport</th>
                                    <th>Event</th>
                                    <th>Result</th>
                                    <th>Medals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>London 2012</td>
                                    <td>Swimming</td>
                                    <td>4x100m Freestyle Relay Men</td>
                                    <td>1:53.01</td>
                                    <td>Gold</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            </div>
            <a href="/athletes/" class="see_all">
                <p>See all athletes</p>
            </a>
            {% endif %}
        </div>
    </content>
</article>

<article class="content hidden" id="content-3">
    <header>
        <h2><a href="#" title="Featured Sports" style="color: #fff;">Featured Sports</a></h2>
    </header>

    <content>
        <div class="container">
        {% if featured_sports %}
            <div class="row">
            {% for sport in featured_sports %}
                <div class="col-md-3 portfolio-item" >
                    <a href="{{ url_for("sports")}}{{sport["sport_id"]}}">
                      <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{sport["sport_name"]}}" alt="">
                  </a>
                </div>
            {% endfor  %}
            </div>
            <a href="/sports/" class="see_all" style="color: #fff;">
                <p>See all sports</p>
            </a>
            {% endif %}
        </div>
    </content>
</article>

<article class="content" id="content-4">
    <header>
        <h2><a href="#" title="Featured Countries">Featured Countries</a></h2>
    </header>

    <content>
        <div class="container">
          {% if featured_countries %}
              <div class="row">
              {% for country in featured_countries %}
                  <div class="col-md-3 portfolio-item" >
                      <a href="{{ url_for("countries")}}{{country["country_id"]}}">
                        <img src="{{ url_for('static', filename='../static/img/flags/') }}{{country["country_name"]|replace(" ","-")}}.jpg" class="img-responsive">
                        TODO:
                        {% if country["num_athlete"] %}
                        NUM_ATHLETE 
                        {% endif %}
                        {% if country["num_gold"] %}
                        GOLD
                        {% endif %}
                         {% if country["num_silver"] %}
                        SILVER
                        {% endif %}
                         {% if country["num_bronze"] %}
                        BRONZE
                        {% endif %}
                    </a>
                  </div>
              {% endfor  %}
              </div>
              <a href="/countries/" class="see_all" style="color: #fff;">
                  <p>See all countries</p>
              </a>
              {% endif %}
        </div>
    </content>
</article>
{% endblock %}