{% extends "base.html" %}
{% block content %}

<article class="content" id="content-1">
	<content>
		<div class="results-container">
			<div class="title">
				<h2>Search Results</h2>
			</div>
			<div class="btn-group pull-right" style="margin-right: 6px; margin-top: -52px; z-index: 1000">
				<ul id="tabs" class="nav btn-group" data-tabs="tabs">
		            <li class="active btn btn-primary">
		            	<a href="#and-results" data-toggle="tab">And</a>
		            </li>
		            <li class="btn btn-primary">
		            	<a href="#or-results" data-toggle="tab">Or</a>
					</li>
		        </ul>
			</div>
			<div class="results">

            	{% macro results_function(type, result) %}
            		<h2>{{ type }} Results</h2>
            		<div class="well well">
		              	{{ result.Athletes }}
		            	{{ result.Events }}
		            	{{ result.Sports }}
		            	{{ result.Years }}
		            	{{ result.Countries }}
                	</div>
            	{% endmacro %}

		        <div id="tab-content" class="tab-content">
		        	<div class="tab-pane active" id="and-results">
	            		{{ results_function("And", and) }}
		            </div>
		            <div class="tab-pane" id="or-results">
		            	{{ results_function("Or", or) }}
		            </div>
		        </div>
			</div>
	</content>
</article>

{% endblock %}
