{% extends "base.html" %}
{% block content %}
<article class="content" id="content-1">
    <header>
        <h2><a href="#" title="Featured Games">Featured Sports</a></h2>
    </header>

    <content>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="tile">
                    <a href="#" class="featured_sports">
                        <h2>{{featured_sports}}</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <a href="#" class="featured_sports">
                        <h2>{{featured_sports}}</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <a href="#" class="featured_sports">
                        <h2>{{featured_sports}}</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <a href="#" class="featured_sports">
                        <h2>{{featured_sports}}</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </content>
</article>

<article class="content" id="content-2">
    <header>
        <h2><a href="#" title="All Sports">Sports and Disciplines</a></h2>
    </header>

    <content>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4 style="text-align: center; margin-top: 0;">Summer</h4>
                <div class="list-group" id="summer-list">
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                </div>
            </div>
            <div class="col-md-4">
                <h4 style="text-align: center; margin-top: 0;">Winter</h4>
                <div class="list-group" id="winter-list">
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                    <a href="#" class="list-group-item">Sport Name</a>
                </div>
            </div>
        </div>
    </div>
    </content>
</article>
{% endblock %}

               