{% extends "base.html" %}
{% block content %}

<article class="content" id="content-2">

    <content>
    <div class="container">
        {% if sports %}
        <header>
            <h2><a href="#" title="All Sports">Sports</a></h2>
        </header>
        <div class="btn-group pull-right" style="margin-right: 6px; margin-top: -52px; z-index: 1000">
            <button class="btn disabled" type="button" style="color: black;">Sort By: </button>
            <button class="btn btn-primary" type="button" onclick="byAsc()">Ascending</button>
            <button class="btn btn-primary" type="button" onclick="byDesc()">Descending</button>
        </div>
        <div class="row">
            <script>
    function byAsc() {
        window.location.href="/sports/sort-by-asc";
    }
    function byDesc() {
        window.location.href="/sports/sort-by-desc";
    }
            </script>
            {% set order = False %}
            {% set sort_on = 'sport_name' %}
            {% if sortBy == "by-desc" %}
            {% set order = True %}
            {% endif %}
            {% for sport in sports|sort(attribute=sort_on, reverse=order) %}
            <div class="col-md-3">
                <div class="list-group" id="summer-list">
                    <a href="{{sport.sport_id}}" class="list-group-item">{{ sport.sport_name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}

            {% if top_medalists%}
                <header>
                    <h2> {{sport_name}} </h2>
                    <h2><a href="#" title="">Top medalists </a></h2>
                </header>
                <div class="row">
                    {% for medalist in top_medalists %}
                    <div class="col-md-3 portfolio-item">
                        <a href="{{medalist.athlete_id}}">
                            <img class="img-responsive" src="{{ url_for('static', filename='../static/img/athletes/')}}{{medalist.athlete_name|replace(" ","_")}}.jpg" style="width: 100%">
                        </a>
                        <ul id="athlete_card_details" class="list-group">
                            <a href="{{url_for('athletes')}}{{medalist.athlete_id}}" class="list-group-item" style="background-color: #eee; font-weight: bold; text-align: center;">
                                {{ medalist.athlete_name|default("N/A") }}
                            </a>
                            <li class="list-group-item">
                                Total medals: {{ medalist.num_medals|default("N/A") }}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            {%endif%}
            
            <content>
            <div class="container">
                {% if sport_events%}
                    <div class="row">
                    <header>
                        <h2><a href="#" title="Events in Sport">Events in Sport</a></h2>
                    </header>
                        {% for event in sport_events %}
                        <a href="{{url_for('events')}}{{event.event_id}}">
                        
                            <div class="col-md-3 portfolio-item">
                            <img class="img-responsive" src="http://placehold.it/480x320/ffffff/&text={{event.event_name}}" alt="">

                            </div>
                        </a>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
            </content>
        
        {% endif %}
    </div>
    </content>
</article>

{% endblock %}
                   
