{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.6.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.6.0"></script>

<article class="content" id="content-1">
	<content>
		<div class="results-container">
		{% if pillars %}
			<div class="title">
				<h2>
					Starlords API
				</h2>
			</div>
	        <div class="results">
	            <div class="row">	
        			{% for pillar in pillars %}
        				<a href="{{ pillar }}">
	            		    <div class="col-md-12 portfolio-item">
		            		    <img class="img-responsive" src="http://placehold.it/1600x320/000/&text={{ pillar }}" alt="">
		            		    <br>
	            		    </div>
        				</a>
        			{% endfor %}
                </div>
	        </div>	
		{% else %}
			{{ results }}
		{% endif %}
		</div>
	</content>
</article>

{% endblock %}
