{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.6.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.6.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.6.0"></script>

<article class="content" id="content-1">
	<content>
		<div class="results-container">
		<!-- If just displaying their pillars -->
		{% if pillars %}
			<div class="title">
				<h2>
					Interesting Facts
				</h2>
			</div>
			<div class="results">
				<div class="row">
				 	<div class="col-md-12">
		            	<ul class="list-group">
			            	<ul class="list-group-item">
			        			<strong>Average stars per constellation: </strong>  {{ avgStarsPerConst }}
			            	</ul>
	        				<ul class="list-group-item">
		        				<strong>Average Constellations per family: </strong>  {{ avgConstPerFamily | round(2) }}
	        				</ul>
		    				<ul class="list-group-item">
		        				<strong>Brightest Constellation: </strong>  {{ brightestConst.constellation }} has a luminosity of {{ brightestConst.luminosity }}
		    				</ul>
		    				<ul class="list-group-item">
		        				<strong>Hottest star: </strong> {{ hottestStar.star }} has a temperature of {{ hottestStar.temp }} degrees!
		    				</ul>
		    				<ul class="list-group-item">
		        				<strong>Planet with most moons: </strong> {{ planetWithMostMoons.planet }} has {{ planetWithMostMoons.num_moons }} moons!
		    				</ul>
		    				<ul class="list-group-item">
		        				<strong>Planet with longest day: </strong> A day on {{ planetWithLongestDay.planet }} lasts {{ planetWithLongestDay.num_days }} earth days!
		    				</ul>
		            	</ul>
	            	</div>
				</div>
			</div>
			<div class="title">
				<h2>
					Explore Pillars
				</h2>
			</div>
	        <div class="results">
	            <div class="row">	
	            	<div class="col-md-12">
	            		{% for pillar in pillars %}
        				<a href="{{ pillar }}">
	            		    <!-- <div class="col-md-12 "> -->
		            		    <img class="img-responsive" src="http://placehold.it/1600x320/{{ colors[loop.index % 15] }}/fff/&text={{ pillar | capitalize }}" alt="">
	            		    <!-- </div> -->
        				</a>
        				{% endfor %}
	            	</div>
                </div>
	        </div>	

	    <!-- If we are looking at a specifc pillar page -->
		{% else %}
			<div class="title">
				<h2>
					{{ pillar | capitalize }}
				</h2>
			</div>

			<div class="controls btn-group pull-right" style="margin-right: 6px; margin-top: -52px; z-index: 1000">
			    <button class="btn disabled" type="button" >Sort By:</button>
			    <button class="sort btn btn-primary" data-sort="myorder:asc" type="button" >Ascending</button>
			    <button class="sort btn btn-primary" data-sort="myorder:desc" type="button" >Descending</button>
			    <button class="sort btn btn-primary" data-sort="random" type="button" >Random</button>
			</div>
			{{ result }}
			<div class="container" id="Sortable">
				{% for result in results.objects | sort(attribute="name") %}
		            <div class="mix col-md-3" data-myorder="{{result.name}}" data-filter="all">
		            	<a href="{{host}}">
		                    <img src="http://placehold.it/640x240/{{ colors[loop.index % 15] }}/ffffff&text={{ result.name }}" class="img-responsive">
		            	</a>
		            	<ul class="list-group">
		            		{% for atr in result %}	
		            		<li class="list-group-item">
		            			<strong>{{ atr }}</strong>
		            			{{ result[atr] }}
		            		</li>
		            		{% endfor %}
		            	</ul>
		            </div>
				{% endfor %}
			</div>
		{% endif %}
		</div>
	</content>
</article>

{% endblock %}
